<p id="notice"><%= notice %></p>

<p>
  <strong>recipient email:</strong>
  <%= @email_message.recipient_email %>
</p>

<p>
  <strong>Recipient full name:</strong>
  <%= @email_message.recipient_full_name %>
</p>

<p>
  <strong>Recipient preferred language:</strong>
  <%= @email_message.recipient_preferred_language %>
</p>

<p>
  <strong>Sender full name:</strong>
  <%= @email_message.sender_full_name %>
</p>

<p>
  <strong>Sender email:</strong>
  <%= @email_message.sender_email %>
</p>

<p>
  <strong>Transcription:</strong>
  <%= @email_message.transcription %>
</p>

<p>
  <strong>Video:</strong>
  <video width="320" height="240" overlay="subtitles:<%= @email_message.raw_video.url %>.transcript" controls>
  <source src="http://res.cloudinary.com/dflr0ohqs/video/upload/v1524362337/hmnj1sl7yin2q0zuenhd.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>

 <%#= cl_video_tag(@email_message.raw_video, :resource_type=>"video")%>


<%= @email_message.raw_video%>
</p>

<%= link_to 'Edit', edit_email_message_path(@email_message) %> |
<%= link_to 'Back', email_messages_path %>
